footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer span {
    font-size: 0.9em;
    font-weight: 300;
  
}